In [1]:
import scanpy as sc 
import numpy as np
import pandas as pd

In [2]:
adata = sc.read_h5ad('./data/NKcell_PDL1.h5ad')

In [6]:
cluster = ['t_ILC1-GZMK','t_ILC3-AREG']

In [7]:
for i in cluster:
    data = adata[adata.obs['Sub_Cluster']==i]
    tmc = pd.read_csv('./result/cluster/'+i+'_cluster.csv',usecols=['cell','cluster'],index_col=0)
    data.obs = data.obs.join(tmc)
    df = pd.DataFrame(data=np.unique(data.obs['cluster']),columns=['Cluster'])
    
    for j in df.index:
        df_data = data.obs[data.obs['cluster']==df.loc[j,'Cluster']]
        df.loc[j,'Count'] = len(df_data)
        df.loc[j,'PR_Count'] = len(df_data[df_data['Response']=='PR'])
        df.loc[j,'SD_Count'] = len(df_data[df_data['Response']=='SD'])
        
    df.loc[len(df)] = [0,len(data),len(data[data.obs['Response']=='PR']),len(data[data.obs['Response']=='SD'])]
    df = df.sort_values(by='Cluster')
    
    df['PR_Prop'] = df['PR_Count'] / df['Count']
    df['SD_Prop'] = df['SD_Count'] / df['Count']
    
    df.to_csv('./data/cluster_count/'+i+'_cluster_count.csv',index=False)

In [7]:
adata = adata[adata.obs['Sub_Cluster']=='t_Bmem-CD27']

In [8]:
adata[adata.obs['Response']=='PR']

View of AnnData object with n_obs × n_vars = 9174 × 27085
    obs: 'CellName', 'ID', 'Sample', 'Patient', 'group', 'Tissue', 'Origin', 'Response', 'Timeline', 'Treatment', 'batch', 'n_genes', 'percent_mito', 'percent_hsp', 'percent_ig', 'percent_rp', 'n_counts', 'leiden', 'Louvain', 'myleiden', 'defcls', 'Global_Cluster', 'Sub_Cluster', 'Global_tSNE_1', 'Global_tSNE_2', 'Global_UMAP_1', 'Global_UMAP_2', 'Sub_tSNE_1', 'Sub_tSNE_2', 'Sub_UMAP_1', 'Sub_UMAP_2'

In [9]:
adata[adata.obs['Response']=='SD']

View of AnnData object with n_obs × n_vars = 890 × 27085
    obs: 'CellName', 'ID', 'Sample', 'Patient', 'group', 'Tissue', 'Origin', 'Response', 'Timeline', 'Treatment', 'batch', 'n_genes', 'percent_mito', 'percent_hsp', 'percent_ig', 'percent_rp', 'n_counts', 'leiden', 'Louvain', 'myleiden', 'defcls', 'Global_Cluster', 'Sub_Cluster', 'Global_tSNE_1', 'Global_tSNE_2', 'Global_UMAP_1', 'Global_UMAP_2', 'Sub_tSNE_1', 'Sub_tSNE_2', 'Sub_UMAP_1', 'Sub_UMAP_2'

In [13]:
tmc = pd.read_csv('./result/cluster/t_Bmem-CD27_cluster.csv',usecols=['cell','cluster'],index_col=0)

In [14]:
tmc

                              cluster
cell
AACTCTTAGGACTGGT.Pre_P012_t         5
ATTGGACCATGGAATA.Pre_P012_t         5
CAAGATCGTGTGAATA.Pre_P012_t         5
CCATTCGAGGTGCACA.Pre_P012_t         5
CCTCTGAAGTACGTAA.Pre_P012_t         5
...                               ...
TGCCAAAAGCTTATCG.Post_P019_t      104
TGCCCTAGTCGAGATG.Post_P019_t      104
TTCTACATCACCGTAA.Post_P019_t      104
ATAACGCGTGGCCCTA.Pre_P004_t       104
CTTAACTCAGTAAGCG.Pre_P004_t       104

[10064 rows x 1 columns]

In [15]:
adata.obs = adata.obs.join(tmc)

In [16]:
np.unique(adata.obs['cluster'])

array([  5,   6,   8,   9,  12,  13,  15,  16,  20,  22,  23,  25,  27,
        28,  32,  34,  35,  36,  39,  40,  42,  43,  49,  50,  52,  53,
        56,  57,  58,  62,  63,  65,  67,  68,  71,  72,  74,  75,  79,
        81,  82,  85,  86,  88,  89,  93,  94,  96,  97, 100, 101, 103,
       104])

In [22]:
df = pd.DataFrame(data=np.unique(adata.obs['cluster']),columns=['Cluster'])

In [23]:
df.sor

    Cluster
0         5
1         6
2         8
3         9
4        12
5        13
6        15
7        16
8        20
9        22
10       23
11       25
12       27
13       28
14       32
15       34
16       35
17       36
18       39
19       40
20       42
21       43
22       49
23       50
24       52
25       53
26       56
27       57
28       58
29       62
30       63
31       65
32       67
33       68
34       71
35       72
36       74
37       75
38       79
39       81
40       82
41       85
42       86
43       88
44       89
45       93
46       94
47       96
48       97
49      100
50      101
51      103
52      104

In [24]:
for i in df.index:
    data = adata.obs[adata.obs['cluster']==df.loc[i,'Cluster']]
    df.loc[i,'Count'] = len(data)
    df.loc[i,'PR_Count'] = len(data[data['Response']=='PR'])
    df.loc[i,'SD_Count'] = len(data[data['Response']=='SD'])

In [25]:
df.

    Cluster  Count  PR_Count  SD_Count
0         5  296.0     290.0       6.0
1         6  274.0     273.0       1.0
2         8  231.0     198.0      33.0
3         9  279.0     159.0     120.0
4        12  228.0     197.0      31.0
5        13  299.0     114.0     185.0
6        15  170.0     144.0      26.0
7        16  248.0     206.0      42.0
8        20  396.0     392.0       4.0
9        22  164.0     160.0       4.0
10       23  222.0     216.0       6.0
11       25  408.0     401.0       7.0
12       27  205.0     171.0      34.0
13       28  234.0     182.0      52.0
14       32   51.0      50.0       1.0
15       34   33.0      10.0      23.0
16       35   46.0      35.0      11.0
17       36  194.0     163.0      31.0
18       39  190.0     186.0       4.0
19       40  209.0     200.0       9.0
20       42  189.0     168.0      21.0
21       43  209.0     165.0      44.0
22       49  197.0     193.0       4.0
23       50  170.0     162.0       8.0
24       52  131.0     130.0       1.0
25       53  216.0     214.0       2.0
26       56  206.0     205.0       1.0
27       57  187.0     186.0       1.0
28       58  452.0     452.0       0.0
29       62  239.0     236.0       3.0
30       63  211.0     211.0       0.0
31       65  155.0     152.0       3.0
32       67   50.0      50.0       0.0
33       68   30.0      29.0       1.0
34       71  118.0     118.0       0.0
35       72  113.0     113.0       0.0
36       74  224.0     223.0       1.0
37       75  152.0     152.0       0.0
38       79  369.0     368.0       1.0
39       81  127.0     123.0       4.0
40       82  130.0     129.0       1.0
41       85  153.0      44.0     109.0
42       86  136.0     124.0      12.0
43       88  191.0     189.0       2.0
44       89  167.0     164.0       3.0
45       93  139.0     138.0       1.0
46       94  150.0     146.0       4.0
47       96  117.0     114.0       3.0
48       97  109.0     107.0       2.0
49      100  164.0     156.0       8.0
50      101  248.0     244.0       4.0
51      103  156.0     145.0      11.0
52      104   82.0      77.0       5.0

In [39]:
df

    Cluster  Count  PR_Count  SD_Count
0         5  296.0     290.0       6.0
1         6  274.0     273.0       1.0
2         8  231.0     198.0      33.0
3         9  279.0     159.0     120.0
4        12  228.0     197.0      31.0
5        13  299.0     114.0     185.0
6        15  170.0     144.0      26.0
7        16  248.0     206.0      42.0
8        20  396.0     392.0       4.0
9        22  164.0     160.0       4.0
10       23  222.0     216.0       6.0
11       25  408.0     401.0       7.0
12       27  205.0     171.0      34.0
13       28  234.0     182.0      52.0
14       32   51.0      50.0       1.0
15       34   33.0      10.0      23.0
16       35   46.0      35.0      11.0
17       36  194.0     163.0      31.0
18       39  190.0     186.0       4.0
19       40  209.0     200.0       9.0
20       42  189.0     168.0      21.0
21       43  209.0     165.0      44.0
22       49  197.0     193.0       4.0
23       50  170.0     162.0       8.0
24       52  131.0     130.0       1.0
25       53  216.0     214.0       2.0
26       56  206.0     205.0       1.0
27       57  187.0     186.0       1.0
28       58  452.0     452.0       0.0
29       62  239.0     236.0       3.0
30       63  211.0     211.0       0.0
31       65  155.0     152.0       3.0
32       67   50.0      50.0       0.0
33       68   30.0      29.0       1.0
34       71  118.0     118.0       0.0
35       72  113.0     113.0       0.0
36       74  224.0     223.0       1.0
37       75  152.0     152.0       0.0
38       79  369.0     368.0       1.0
39       81  127.0     123.0       4.0
40       82  130.0     129.0       1.0
41       85  153.0      44.0     109.0
42       86  136.0     124.0      12.0
43       88  191.0     189.0       2.0
44       89  167.0     164.0       3.0
45       93  139.0     138.0       1.0
46       94  150.0     146.0       4.0
47       96  117.0     114.0       3.0
48       97  109.0     107.0       2.0
49      100  164.0     156.0       8.0
50      101  248.0     244.0       4.0
51      103  156.0     145.0      11.0
52      104   82.0      77.0       5.0

In [40]:
df.loc[len(df)] = [0,len(adata),len(adata[adata.obs['Response']=='PR']),len(adata[adata.obs['Response']=='SD'])]

In [44]:
df = df.sort_values(by='Cluster')

In [35]:
pd.concat([,df],axis=0)

TypeError: cannot concatenate object of type '<class 'list'>'; only Series and DataFrame objs are valid

In [20]:
df['SD_Prop'] = df['SD_Count'] / df['Count']

In [33]:
df

    Cluster  Count  PR_Count  SD_Count
0         5  296.0     290.0       6.0
1         6  274.0     273.0       1.0
2         8  231.0     198.0      33.0
3         9  279.0     159.0     120.0
4        12  228.0     197.0      31.0
5        13  299.0     114.0     185.0
6        15  170.0     144.0      26.0
7        16  248.0     206.0      42.0
8        20  396.0     392.0       4.0
9        22  164.0     160.0       4.0
10       23  222.0     216.0       6.0
11       25  408.0     401.0       7.0
12       27  205.0     171.0      34.0
13       28  234.0     182.0      52.0
14       32   51.0      50.0       1.0
15       34   33.0      10.0      23.0
16       35   46.0      35.0      11.0
17       36  194.0     163.0      31.0
18       39  190.0     186.0       4.0
19       40  209.0     200.0       9.0
20       42  189.0     168.0      21.0
21       43  209.0     165.0      44.0
22       49  197.0     193.0       4.0
23       50  170.0     162.0       8.0
24       52  131.0     130.0       1.0
25       53  216.0     214.0       2.0
26       56  206.0     205.0       1.0
27       57  187.0     186.0       1.0
28       58  452.0     452.0       0.0
29       62  239.0     236.0       3.0
30       63  211.0     211.0       0.0
31       65  155.0     152.0       3.0
32       67   50.0      50.0       0.0
33       68   30.0      29.0       1.0
34       71  118.0     118.0       0.0
35       72  113.0     113.0       0.0
36       74  224.0     223.0       1.0
37       75  152.0     152.0       0.0
38       79  369.0     368.0       1.0
39       81  127.0     123.0       4.0
40       82  130.0     129.0       1.0
41       85  153.0      44.0     109.0
42       86  136.0     124.0      12.0
43       88  191.0     189.0       2.0
44       89  167.0     164.0       3.0
45       93  139.0     138.0       1.0
46       94  150.0     146.0       4.0
47       96  117.0     114.0       3.0
48       97  109.0     107.0       2.0
49      100  164.0     156.0       8.0
50      101  248.0     244.0       4.0
51      103  156.0     145.0      11.0
52      104   82.0      77.0       5.0

In [17]:
df.to_csv('./data/cluster_count.csv',index=False)